<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Afsheen | Personal Site</title>
        <script src="https://unpkg.com/phosphor-icons"></script>
        <link rel="stylesheet" href="/assets/css/main.out.css">
    </head>

    <body class="font-sans dark:text-bold-dark bg-white dark:bg-black">
        <div class="md:flex min-h-screen">
            {% include 'sidebar' %}
            {% include 'experienceContent' %}
            <div class="block md:hidden">{% include 'footer' %}</div>
        </div>
    </body>
</html>
