<main class="flex-1 p-8 md:pt-22 pt-16 space-y-9 max-w-6xl pb-20 md:pb-8">
    <p class="text-md">Welcome to my virtual home. I am a 
        <span class="font-semibold">Product Engineer</span> 
        with 3 years of experience. I love to build products and have been wearing multiple hats like 
        <span class="font-semibold">Engineer, UX Designer, Marketer, Sales</span> etc.
    </p>
    <div class="space-y-11 md:space-y-11 space-y-8">
        <h2 class="text-3xl md:text-3xl text-2xl font-serif">Noteworthy experience</h2>
    
        <div class="md:space-y-2 space-y-1">
            <div class="flex flex-wrap items-baseline md:gap-2 gap-1.5">
                <h3 class="md:text-xl text-lg text-primary-text-light md:font-normal font-medium">Stealth Mode Startup, </h3>
                <span class="md:text-lg text-base text-designation-light"></span>
                <span class="text-timeline-light md:inline hidden">•</span>
                <span class="text-timeline-light md:inline hidden">Sept'23 - Present</span>
            </div>
            <div class="text-sm text-timeline-light md:hidden block">Sept'23 - Present</div>
            <p class="text-primary-text-light md:mt-0 mt-1">
                Revamped website in 
                <span class="font-semibold">Webflow</span>
                , Redesigned the platform in 
                <span class="font-semibold">Figma</span> 
                and marketing automation.
            </p>
        </div>

        <div class="md:space-y-2 space-y-1">
            <div class="flex flex-wrap items-baseline md:gap-2 gap-1.5">
                <h3 class="md:text-xl text-lg text-primary-text-light md:font-normal font-medium">Venn, </h3>
                <span class="md:text-lg text-base text-designation-light">Consultant</span>
                <span class="text-timeline-light md:inline hidden">•</span>
                <span class="text-timeline-light md:inline hidden">Sept'23 - Present</span>
            </div>
            <div class="text-sm text-timeline-light md:hidden block">Sept'23 - Present</div>
            <p class="text-primary-text-light md:mt-0 mt-1">
                Built 
                <a href="https://app.venn.buzz" target="_blank" class="underline">website</a> 
                for the 
                <span class="md:font-bold font-medium">Putting Scene Community</span> 
                to discover events using 
                <span class="font-semibold">React, Typescript.</span>
                Maintainging the site to upload daily curations.
            </p>
        </div>

        <div class="md:space-y-2 space-y-1">
            <div class="flex flex-wrap items-baseline md:gap-2 gap-1.5">
                <h3 class="md:text-xl text-lg text-primary-text-light md:font-normal font-medium">Bureau, </h3>
                <span class="md:text-lg text-base text-designation-light">Software Engineer</span>
                <span class="text-timeline-light md:inline hidden">•</span>
                <span class="text-timeline-light md:inline hidden">Jan'22 - Sept'23</span>
            </div>
            <div class="text-sm text-timeline-light md:hidden block">Jan'22 - Sept'23</div>
            <p class="text-primary-text-light md:mt-0 mt-1">
                Built 4 dashboards, 7 demos across 3 products and a product end-to-end. Developed products, marketing site, etc. using multiple tools like 
                <span class="font-semibold">Javascript</span> 
                and 
                <span class="font-semibold">
                    Typescript, React, Chakra UI, Webflow, Framer, Jira, Confluence
                </span> 
                and many more.
            </p>
        </div>

        <div class="md:space-y-2 space-y-1">
            <div class="flex flex-wrap items-baseline md:gap-2 gap-1.5">
                <h3 class="md:text-xl text-lg text-primary-text-light md:font-normal font-medium">Obvious, </h3>
                <span class="md:text-lg text-base text-designation-light">Product Engineer Intern</span>
                <span class="text-timeline-light md:inline hidden">•</span>
                <span class="text-timeline-light md:inline hidden">July'21 - Jan'22</span>
            </div>
            <div class="text-sm text-timeline-light md:hidden block">July'21 - Jan'22</div>
            <p class="text-primary-text-light md:mt-0 mt-1">
                Optimized website, built product-lets in 
                <span class="font-semibold">Wordpress</span>
                    , helped making marketing campaign in 
                <span class="font-semibold">Intercom</span>
                    and migrated frontend codebase to
                <span class="font-semibold">Typescript</span> 
                for Pause.
            </p>
        </div>
    </div>
</main>

<script>

</script>