<main class="flex-1 md:p-8 p-5 md:pt-22 pt-10 md:space-y-9 space-y-6 max-w-6xl pb-20 md:pb-8">
    <p class="md:text-md text-sm dark:text-primary-text-dark">Welcome to my virtual home. I am a 
        <span class="font-semibold dark:text-bold-dark">Product Engineer</span> 
        with 3 years of experience. I love to build products and have been wearing multiple hats from 
        <span class="font-semibold dark:text-bold-dark">Engineer to UX Designer</span> driven by curiosity.
    </p>
    <div class="md:space-y-11 space-y-6">
        <h2 class="md:text-3xl text-xl font-serif">Noteworthy experience</h2>
    
        <div class="md:space-y-2 space-y-1">
            <div class="flex flex-wrap items-baseline md:gap-2 gap-1">
                <h3 class="md:text-xl text-base text-primary-text-light dark:text-primary-text-dark md:font-normal">Venn, </h3>
                <span class="md:text-lg text-sm text-designation-light dark:text-designation-dark">Consultant</span>
                <span class="text-timeline-light dark:text-timeline-dark md:inline hidden">•</span>
                <span class="text-timeline-light dark:text-timeline-dark md:inline hidden">Sept'23 - Present</span>
            </div>
            <div class="text-xs text-timeline-light dark:text-timeline-dark md:hidden block">Sept'23 - Present</div>
            <p class="text-primary-text-light dark:text-primary-text-dark md:mt-0 mt-0.5 md:text-base text-sm">
                Built 
                <a href="https://app.venn.buzz" target="_blank" class="underline">website</a> 
                for the 
                <span class="md:font-bold">Putting Scene Community</span> 
                to discover events using 
                <span class="font-semibold dark:text-bold-dark">React, Typescript.</span>
                Maintaining the site to upload daily curations.
            </p>
        </div>

        <div class="md:space-y-2 space-y-1">
            <div class="flex flex-wrap items-baseline md:gap-2 gap-1">
                <h3 class="md:text-xl text-base text-primary-text-light dark:text-primary-text-dark md:font-normal">Arch0, </h3>
                <span class="md:text-lg text-sm text-designation-light dark:text-designation-dark">Design Engineer</span>
                <span class="text-timeline-light dark:text-timeline-dark md:inline hidden">•</span>
                <span class="text-timeline-light dark:text-timeline-dark md:inline hidden">Sept'23 - Apr'25</span>
            </div>
            <div class="text-xs text-timeline-light dark:text-timeline-dark md:hidden block">Sept'23 - Apr'25</div>
            <p class="text-primary-text-light dark:text-primary-text-dark md:mt-0 mt-0.5 md:text-base text-sm">
                Redesigned platform and website with a 
                <span class="font-bold">unified design system</span>
                . Migrated website to 
                <span class="font-bold">NextJS/Storyblok</span>
                , created Chrome extension with 
                <span class="font-bold">Plasmo</span>
                 and AI chatbot. Designed deck, helped with marketing, and helped with startup's PR launch.
            </p>
        </div>

        <div class="md:space-y-2 space-y-1">
            <div class="flex flex-wrap items-baseline md:gap-2 gap-1">
                <h3 class="md:text-xl text-base text-primary-text-light dark:text-primary-text-dark md:font-normal">Bureau, </h3>
                <span class="md:text-lg text-sm text-designation-light dark:text-designation-dark">Software Engineer</span>
                <span class="text-timeline-light dark:text-timeline-dark md:inline hidden">•</span>
                <span class="text-timeline-light dark:text-timeline-dark md:inline hidden">Jan'22 - Sept'23</span>
            </div>
            <div class="text-xs text-timeline-light dark:text-timeline-dark md:hidden block">Jan'22 - Sept'23</div>
            <p class="text-primary-text-light dark:text-primary-text-dark md:mt-0 mt-0.5 md:text-base text-sm">
                Built 4 dashboards, 7 demos across 3 products and a product end-to-end. Developed products, marketing site, etc. using multiple tools like 
                <span class="font-semibold dark:text-bold-dark">Javascript</span> 
                and 
                <span class="font-semibold dark:text-bold-dark">
                    Typescript, React, Chakra UI, Webflow, Framer, Jira, Confluence
                </span> 
                and many more.
            </p>
        </div>

        <div class="md:space-y-2 space-y-1">
            <div class="flex flex-wrap items-baseline md:gap-2 gap-1">
                <h3 class="md:text-xl text-base text-primary-text-light dark:text-primary-text-dark md:font-normal">Obvious, </h3>
                <span class="md:text-lg text-sm text-designation-light dark:text-designation-dark">Product Engineer Intern</span>
                <span class="text-timeline-light dark:text-timeline-dark md:inline hidden">•</span>
                <span class="text-timeline-light dark:text-timeline-dark md:inline hidden">July'21 - Jan'22</span>
            </div>
            <div class="text-xs text-timeline-light dark:text-timeline-dark md:hidden block">July'21 - Jan'22</div>
            <p class="text-primary-text-light dark:text-primary-text-dark md:mt-0 mt-0.5 md:text-base text-sm">
                Optimized website, built product-lets in 
                <span class="font-semibold dark:text-bold-dark">Wordpress</span>
                    , helped making marketing campaign in 
                <span class="font-semibold dark:text-bold-dark">Intercom</span>
                    and migrated frontend codebase to
                <span class="font-semibold dark:text-bold-dark">Typescript</span> 
                for Pause.
            </p>
        </div>
    </div>
</main>

<script>

</script>