<main class="flex-1 p-8 pt-22 space-y-9 max-w-6xl">
    <p class="text-md">Welcome to my virtual home. I am a 
        <span class="font-semibold">Product Engineer</span> 
        with 3 years of experience. I love to build products and have been wearing multiple hats like 
        <span class="font-semibold">Engineer, UX Designer, Marketer, Sales</span> etc.
    </p>
    <div class="space-y-8">
        <h2 class="text-3xl font-serif">Noteworthy experience</h2>
    
        <div class="space-y-3">
            <div class="flex items-baseline gap-2">
                <h3 class="text-xl text-primary-text-light">Arch0, </h3>
                <span class="text-lg text-designation-light">Design Engineer</span>
                <span class="text-timeline-light">•</span>
                <span class="text-timeline-light">Sept'23 - Present</span>
            </div>
            <p class="text-primary-text-light">
                Revamped website in 
                <span class="font-semibold">Webflow</span>
                , Redesigned the platform in 
                <span class="font-semibold">Figma</span> 
                and marketing automation.
            </p>
        </div>

        <div class="space-y-3">
            <div class="flex items-baseline gap-2">
                <h3 class="text-xl text-primary-text-light">Venn, </h3>
                <span class="text-lg text-designation-light">Consultant</span>
                <span class="text-timeline-light">•</span>
                <span class="text-timeline-light">Sept'23 - Present</span>
            </div>
            <p class="text-primary-text-light">
                Built 
                <a href="https://app.venn.buzz" target="_blank" class="underline">
                    website
                </a> 
                for the 
                <span class="font-sans font-bold">Putting Scene Community</span> 
                to discover events using 
                <span class="font-semibold">React, Typescript.</span>
                Maintainging the site to upload daily curations.
            </p>
        </div>

        <div class="space-y-3">
            <div class="flex items-baseline gap-2">
                <h3 class="text-xl text-primary-text-light">Bureau, </h3>
                <span class="text-lg text-designation-light">Software Engineer</span>
                <span class="text-timeline-light">•</span>
                <span class="text-timeline-light">Jan'22 - Sept'23</span>
            </div>
            <p class="text-primary-text-light">
                Built 4 dashboards, 7 demos across 3 products and a product end-to-end. Developed products, marketing site, etc. using multiple tools like 
                <span class="font-semibold">Javascript</span> 
                and 
                <span class="font-semibold">
                    Typescript, React, Chakra UI, Webflow, Framer, Jira, Confluence
                </span> 
                and many more.
            </p>
        </div>

        <div class="space-y-3">
            <div class="flex items-baseline gap-2">
                <h3 class="text-xl text-primary-text-light">Obvious, </h3>
                <span class="text-lg text-designation-light">Product Engineer Intern</span>
                <span class="text-timeline-light">•</span>
                <span class="text-timeline-light">July'21 - Jan'22</span>
            </div>
            <p class="text-primary-text-light">
                Optimized website, built product-lets in 
                <span class="font-semibold">Wordpress</span>
                    , helped making marketing campaign in 
                <span class="font-semibold">Intercom</span>
                    and migrated frontend codebase to
                <span class="font-semibold">Typescript</span> 
                for Pause.
            </p>
        </div>
    </div>
</main>

<script>

</script>