<main class="flex-1 p-8 pt-22 space-y-9 max-w-6xl">
    <p class="text-md">
        I've not gotten around to finishing side projects yet but whenever I do (close on a couple of them), this page will be updated.
    </p>

    <div class="space-y-11">
        <h2 class="text-3xl font-serif">Explorations</h2>
        <div class="flex flex-col items-center">
            <img src="/assets/images/woman-at-work.png" alt="Explorations" class="w-[20vw]">
            <h3 class="text-xl text-primary-text-light">
                Work in Progress
            </h3>
        </div>
       
    </div>
    
</main>