<main class="flex-1 md:p-8 p-5 md:pt-22 pt-10 md:space-y-9 space-y-6 max-w-6xl pb-20 md:pb-8">
    <p class="md:text-md text-sm">
        I've not gotten around to finishing side projects yet but whenever I do (close on a couple of them), this page will be updated.
    </p>

    <div class="md:space-y-11 space-y-12">
        <h2 class="md:text-3xl text-xl font-serif">Explorations</h2>
        <div class="flex flex-col items-center md:gap-4 gap-2">
            <img src="/assets/images/woman-at-work.png" alt="Explorations" class="md:w-[20vw] w-[40vw]">
            <h3 class="md:text-xl text-base text-primary-text-light">
                Work in Progress
            </h3>
        </div>
       
    </div>
    
</main>