<div class="flex items-center justify-between md:space-x-4 py-4 px-6 border-t border-bd-light  dark:border-bd-dark text-nav-text-light dark:text-nav-text-light-dark md:static fixed bottom-0 left-0 right-0 bg-white dark:bg-black w-full">
    <a href="mailto:afsheenamroliwala@gmail.com" class="text-gray-600 dark:text-nav-text-light-dark hover:text-gray-900 dark:hover:text-primary-text-dark flex items-center">
        <i class="ph-envelope-simple text-2xl md:text-xl"></i>
    </a>
    <a href="https://github.com/afsheen-01/" target="_blank" class="text-gray-600 dark:text-nav-text-light-dark hover:text-gray-900 dark:hover:text-primary-text-dark flex items-center">
        <i class="ph-github-logo text-2xl md:text-xl"></i>
    </a>
    <a href="https://x.com/_afsheen_a" target="_blank" class="text-gray-600 dark:text-nav-text-light-dark hover:text-gray-900 dark:hover:text-primary-text-dark flex items-center">
        <i class="ph-twitter-logo text-2xl md:text-xl"></i>
    </a>
    <a href="https://www.linkedin.com/in/afsheen-amroliwala-8400411ba/" target="_blank" class="text-gray-600 dark:text-nav-text-light-dark hover:text-gray-900 dark:hover:text-primary-text-dark flex items-center">
        <i class="ph-linkedin-logo text-2xl md:text-xl"></i>
    </a>
    <a href="https://www.instagram.com/afsheen._a?igsh=MWh4dXppZ2hnbzg4Yg%3D%3D&utm_source=qr" target="_blank" class="text-gray-600 dark:text-nav-text-light-dark hover:text-gray-900 dark:hover:text-primary-text-dark flex items-center">
        <i class="ph-instagram-logo text-2xl md:text-xl"></i>
    </a>
</div>