<div class="flex items-center justify-between md:space-x-4 py-4 px-6 border-t border-bd-light  dark:border-bd-dark text-nav-text-light dark:text-nav-text-light-dark md:static fixed bottom-0 left-0 right-0 bg-white dark:bg-black w-full">
    <a href="mailto:afsheenamroliwala@gmail.com" class="text-gray-600 dark:text-nav-text-light-dark hover:text-gray-900 dark:hover:text-primary-text-dark flex items-center">
        <i class="ph-envelope-simple text-2xl md:text-xl"></i>
    </a>
    <a href="https://github.com/afsheen-01/" target="_blank" class="text-gray-600 dark:text-nav-text-light-dark hover:text-gray-900 dark:hover:text-primary-text-dark flex items-center">
        <i class="ph-github-logo text-2xl md:text-xl"></i>
    </a>
    <a href="https://x.com/_afsheen_a" target="_blank" class="text-gray-600 dark:text-nav-text-light-dark hover:text-gray-900 dark:hover:text-primary-text-dark flex items-center">
        <i class="ph-twitter-logo text-2xl md:text-xl"></i>
    </a>
    <a href="https://www.linkedin.com/in/afsheen-amroliwala-8400411ba/" target="_blank" class="text-gray-600 dark:text-nav-text-light-dark hover:text-gray-900 dark:hover:text-primary-text-dark flex items-center">
        <i class="ph-linkedin-logo text-2xl md:text-xl"></i>
    </a>
    <a href="https://www.instagram.com/afsheen._a?igsh=MWh4dXppZ2hnbzg4Yg%3D%3D&utm_source=qr" target="_blank" class="text-gray-600 dark:text-nav-text-light-dark hover:text-gray-900 dark:hover:text-primary-text-dark flex items-center">
        <i class="ph-instagram-logo text-2xl md:text-xl"></i>
    </a>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        let isDarkMode;
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme === 'dark') {
            isDarkMode = true;
        } else if (savedTheme === 'light') {
            isDarkMode = false;
        } else {
            isDarkMode = window.matchMedia("(prefers-color-scheme: dark)").matches;
        }

        menuToggle();
        highlightActiveNavLink(isDarkMode);
        themeToggle(isDarkMode);
    });

    const menuToggle = () => {
        const mobileMenuToggle = document.getElementById('mobile-menu-toggle');
        const mobileNavOverlay = document.getElementById('mobile-nav-overlay');
        const closeButton = document.getElementById('close-mobile-nav');
        
        if (mobileMenuToggle && mobileNavOverlay && closeButton) {
            mobileMenuToggle.addEventListener('click', () => {
                mobileNavOverlay.classList.remove('hidden');
                document.body.style.overflow = 'hidden'; // Prevent scrolling when overlay is open
            });
            
            closeButton.addEventListener('click', () => {
                mobileNavOverlay.classList.add('hidden');
                document.body.style.overflow = ''; // Restore scrolling
            });
        }
    }

    const themeToggle = (isDarkMode) => {
        const themeToggleButton = document.getElementById('theme-toggle');
        const body = document.body;
        const icon = themeToggleButton.querySelector('i');

        if (isDarkMode) {
            body.classList.add('dark')
            icon.classList.remove('ph-sun');
            icon.classList.add('ph-moon');
        } else {
            body.classList.remove('dark');
            icon.classList.remove('ph-moon');
            icon.classList.add('ph-sun');
        }
        
        if (themeToggleButton) {

            themeToggleButton.addEventListener('click', () => {
                if (body.classList.contains('dark')) {
                    body.classList.remove('dark');
                    themeToggleButton.querySelector('i').classList.remove('ph-moon');
                    themeToggleButton.querySelector('i').classList.add('ph-sun');
                    localStorage.setItem('theme', 'light');
                    highlightActiveNavLink(false);
                } else {
                    body.classList.add('dark');
                    themeToggleButton.querySelector('i').classList.remove('ph-sun');
                    themeToggleButton.querySelector('i').classList.add('ph-moon');
                    localStorage.setItem('theme', 'dark');
                    highlightActiveNavLink(true);
                }
            });
        }
    }

    const highlightActiveNavLink = (isDarkMode) => {
        const currentUrl = window.location.pathname;

        document.querySelectorAll('nav a').forEach((link) => {
            const href = link.getAttribute('href');            
            if (href === currentUrl || (href !== '/' && href !== '#' && currentUrl.includes(href))) {
                if (isDarkMode) {
                    link.classList.remove('text-nav-text-light', 'text-black', 'dark:text-nav-text-light-dark');
                    link.classList.add('text-white');
                } else {
                    link.classList.remove('text-nav-text-light', 'text-white', 'dark:text-nav-text-light-dark');
                    link.classList.add('text-black');
                }
            }
        });
    }
</script>