<aside class="md:w-[210px] md:border-r border-bd-light md:h-screen sticky top-0 flex flex-col justify-between bg-white dark:bg-black">
    
    <div class="flex items-end justify-between px-6 py-4 border-b border-bd-light">
        <div class="w-full flex items-end md:justify-between gap-2">
            <h1 class="text-3xl font-serif">
                <a href="/" class="cursor-pointer">Afsheen</a>
            </h1>
            <button class="cursor-pointer" id="theme-toggle">
                <i class="ph-sun text-xl md:text-2xl text-nav-text"></i>
            </button> 
        </div>
        
        <button class="md:hidden cursor-pointer" id="mobile-menu-toggle">
            <i class="ph-text-align-right text-2xl text-hamburger-light"></i>
        </button> 

    </div>

    <!-- Mobile Navigation Overlay (hidden by default) -->
    <div id="mobile-nav-overlay" class="fixed inset-0 bg-white/90 z-50 flex flex-col hidden min-h-screen min-w-screen border">
        <div class="flex items-center justify-between px-6 py-4 border-b border-bd-light">
            <div class="w-full flex items-end md:justify-between gap-2">
            <h1 class="text-3xl font-serif">
                <a href="/" class="cursor-pointer">Afsheen</a>
            </h1>
            <button class="cursor-not-allowed" id="theme-toggle">
                <i class="ph-sun text-xl md:text-2xl text-gray-300"></i>
            </button> 
        </div>
            <button id="close-mobile-nav" class="cursor-pointer">
                <i class="ph-x text-2xl text-hamburger-light"></i>
            </button>
        </div>
        
        <div class="flex flex-col space-y-4 px-6 py-6">
            <a href="/" class="text-lg text-nav-text">
                Experience
            </a>
            <a href="/skills" class="text-lg text-nav-text">
                Skills
            </a>
            <a href="/explorations" class="text-lg text-nav-text">
                Explorations
            </a>
            <a href="/blog" class="text-lg text-nav-text">
                Blog
            </a>
            <a href="https://www.instagram.com/a_peep_clicks?igsh=MThtdGNsYTk4cG52bQ%3D%3D&utm_source=qr" target="_blank" class="text-lg text-nav-text flex items-center gap-2">
                Gallery
                <i class="ph-arrow-square-out text-xl text-nav-text"></i>
            </a>
        </div>
    </div>

    <nav class="space-y-4 md:block hidden">
        <div class=" flex flex-col space-y-2 px-6">
            <a href="/" class="text-nav-text hover:text-gray-900">
                Experience
            </a>
            <a href="/skills" class="text-nav-text hover:text-gray-900">
                Skills
            </a>
            <a href="/explorations" class="text-nav-text hover:text-gray-900">
                Explorations
            </a>
            <a href="/blog" class="text-nav-text hover:text-gray-900">
                Blog
            </a>
            <a href="https://www.instagram.com/a_peep_clicks?igsh=MThtdGNsYTk4cG52bQ%3D%3D&utm_source=qr" target="_blank" class="text-nav-text hover:text-gray-900 flex items-center gap-2">
                Gallery
                <i class="ph-arrow-square-out text-xl text-nav-text hover:text-gray-900"></i>
            </a>
        </div>
        
        {% include 'footer' %}
    </nav> 
</aside>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const currentUrl = window.location.pathname;
        
        document.querySelectorAll('nav a').forEach((link) => {
            const href = link.getAttribute('href');
            
            if (href === currentUrl || (href !== '/' && href !== '#' && currentUrl.includes(href))) {
                
                link.classList.remove('text-nav-text');
                link.classList.add('text-black');
            }
        });

        menuToggle();
        themeToggle();
        
    });

    const menuToggle = () => {

        const mobileMenuToggle = document.getElementById('mobile-menu-toggle');
        const mobileNavOverlay = document.getElementById('mobile-nav-overlay');
        const closeButton = document.getElementById('close-mobile-nav');
        
        if (mobileMenuToggle && mobileNavOverlay && closeButton) {
            mobileMenuToggle.addEventListener('click', () => {
                mobileNavOverlay.classList.remove('hidden');
                document.body.style.overflow = 'hidden'; // Prevent scrolling when overlay is open
            });
            
            closeButton.addEventListener('click', () => {
                mobileNavOverlay.classList.add('hidden');
                document.body.style.overflow = ''; // Restore scrolling
            });
        }
    }

    const themeToggle = () => {
        const themeToggleButton = document.getElementById('theme-toggle');
        const body = document.body;
        
        // Set initial icon based on system preference
        const isDarkMode = window.matchMedia("(prefers-color-scheme: dark)").matches;
        const icon = themeToggleButton.querySelector('i');
        if (isDarkMode) {
            body.classList.add('dark')
            icon.classList.remove('ph-sun');
            icon.classList.add('ph-moon');
        } else {
            body.classList.remove('dark');
            icon.classList.remove('ph-moon');
            icon.classList.add('ph-sun');
        }
        
        if (themeToggleButton) {
            themeToggleButton.addEventListener('click', () => {
                if (body.classList.contains('dark')) {
                    body.classList.remove('dark');
                    themeToggleButton.querySelector('i').classList.remove('ph-moon');
                    themeToggleButton.querySelector('i').classList.add('ph-sun');
                } else {
                    body.classList.add('dark');
                    themeToggleButton.querySelector('i').classList.remove('ph-sun');
                    themeToggleButton.querySelector('i').classList.add('ph-moon');
                }
            });
        }
    }

</script>