<main class="flex-1 p-8 pt-22 space-y-9">
    <p class="text-md">
        In last 3 years, I’ve had a chance to explore a lot of tools and develop my skillset. Here’s a list of some of them.
    </p>

    <div class="space-y-8">
        <h2 class="text-3xl font-serif">Skills</h2>
    
        <div class="space-y-3">
            <h3 class="text-xl text-primary-text-light">
                Languages,frameworks and libaries
            </h3>
            <p class="text-primary-text-light">
                Vanilla Javascript, typescript, react, vue, semantic UI, chakra UI, scss, firebase, ESlint, axios, redux-toolkit, zustand
            </p>
        </div>

        <div class="space-y-3">
            <h3 class="text-xl text-primary-text-light">
                Automation and deployment tools
            </h3>
            <p class="text-primary-text-light">
                Github actions, netlify, amplify, retool, pipedream, n8n, formspark, sendgrid, hubspot, intercom, commandbar
            </p>
        </div>

        <div class="space-y-3">
            <h3 class="text-xl text-primary-text-light">
                No-code website builders
            </h3>
            <p class="text-primary-text-light">
                Framer, Webflow, Wordpress, Readymag
            </p>
        </div>

        <div class="space-y-3">
            <h3 class="text-xl text-primary-text-light">
                Design tools
            </h3>
            <p class="text-primary-text-light">
                Figma, lottie
            </p>
        </div>
    </div>
    
</main>