<main class="flex-1 md:p-8 p-5 md:pt-22 pt-10 md:space-y-9 space-y-6 max-w-6xl pb-20 md:pb-8">
    <p class="md:text-md text-base">
        In last 3 years, I've had a chance to explore a lot of tools and develop my skillset. Here's a list of some of them.
    </p>

    <div class="md:space-y-11 space-y-6">
        <h2 class="md:text-3xl text-xl font-serif">Skills</h2>
    
        <div class="md:space-y-2 space-y-1">
            <h3 class="md:text-xl text-base text-primary-text-light dark:text-primary-text-dark">
                Languages, frameworks and libaries
            </h3>
            <p class="text-primary-text-light dark:text-primary-text-dark md:text-base text-sm">
                Vanilla Javascript, Typescript, React, Vue, Semantic UI, Chakra UI, SCSS, Firebase, ESlint, Axios, Redux Toolkit, Zustand
            </p>
        </div>

        <div class="md:space-y-2 space-y-1">
            <h3 class="md:text-xl text-base text-primary-text-light dark:text-primary-text-dark">
                Automation and deployment tools
            </h3>
            <p class="text-primary-text-light dark:text-primary-text-dark md:text-base text-sm">
                Github actions, Netlify, Amplify, Retool, Pipedream, N8n, Formspark, Sendgrid, Hubspot, Intercom, Commandbar
            </p>
        </div>

        <div class="md:space-y-2 space-y-1">
            <h3 class="md:text-xl text-base text-primary-text-light dark:text-primary-text-dark">
                No-code website builders
            </h3>
            <p class="text-primary-text-light dark:text-primary-text-dark md:text-base text-sm">
                Framer, Webflow, Wordpress, Readymag
            </p>
        </div>

        <div class="md:space-y-2 space-y-1">
            <h3 class="md:text-xl text-base text-primary-text-light dark:text-primary-text-dark">
                Design tools
            </h3>
            <p class="text-primary-text-light dark:text-primary-text-dark md:text-base text-sm">
                Figma, Lottie
            </p>
        </div>
    </div>
    
</main>