<main class="flex-1 p-8 pt-22 space-y-9 max-w-6xl">
    <p class="text-md">
        In last 3 years, I’ve had a chance to explore a lot of tools and develop my skillset. Here’s a list of some of them.
    </p>

    <div class="space-y-11">
        <h2 class="text-3xl font-serif">Skills</h2>
    
        <div class="space-y-2">
            <h3 class="text-xl text-primary-text-light">
                Languages, frameworks and libaries
            </h3>
            <p class="text-primary-text-light">
                Vanilla Javascript, Typescript, React, Vue, Semantic UI, Chakra UI, SCSS, Firebase, ESlint, Axios, Redux Toolkit, Zustand
            </p>
        </div>

        <div class="space-y-2">
            <h3 class="text-xl text-primary-text-light">
                Automation and deployment tools
            </h3>
            <p class="text-primary-text-light">
                Github actions, Netlify, Amplify, Retool, Pipedream, N8n, Formspark, Sendgrid, Hubspot, Intercom, Commandbar
            </p>
        </div>

        <div class="space-y-2">
            <h3 class="text-xl text-primary-text-light">
                No-code website builders
            </h3>
            <p class="text-primary-text-light">
                Framer, Webflow, Wordpress, Readymag
            </p>
        </div>

        <div class="space-y-2">
            <h3 class="text-xl text-primary-text-light">
                Design tools
            </h3>
            <p class="text-primary-text-light">
                Figma, Lottie
            </p>
        </div>
    </div>
    
</main>