@import url("https://fonts.googleapis.com/css2?family=Buenard:wght@400..700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Import Be Vietnam font from local assets */
@font-face {
  font-family: "Be Vietnam";
  src: url("/assets/fonts/BeVietnam-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Be Vietnam";
  src: url("/assets/fonts/BeVietnam-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Be Vietnam";
  src: url("/assets/fonts/BeVietnam-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Be Vietnam";
  src: url("/assets/fonts/BeVietnam-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Be Vietnam";
  src: url("/assets/fonts/BeVietnam-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Be Vietnam";
  src: url("/assets/fonts/BeVietnam-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-serif: "Buenard", serif;
  --font-sans: "Be Vietnam", sans-serif;
  --color-designation: #767676;

  --color-bd-light: #e4e4e4;
  --color-nav-text-light: #686868;
  --color-primary-text-light: #313131;
  --color-timeline-light: #959595;
  --color-hamburger-light: #a4a4a4;

  --color-bd-dark: #4c4c4c;
  --color-nav-text-light-dark: #a3a3a3;
  --color-primary-text-dark: #bbbbbb;
  --color-timeline-dark: #686868;
  --color-hamburger-dark: #7d7d7d;
  --color-bold-dark: #c0c0c0;
}

@layer base {
  html {
    font-family: "Be Vietnam", system-ui, sans-serif;
    color: var(--color-primary-text-light);
  }

  /* Light theme default styles */
  body {
    color: var(--color-primary-text-light);
  }

  /* Dark theme styles */
  body.dark {
    background-color: #1a1a1a;
    color: white;
  }
}

@layer components {
  .blog-content h1 {
    @apply md:text-3xl text-xl font-serif;
  }
  .blog-content a {
    @apply underline;
  }
  .blog-content ul {
    @apply list-disc pl-4;
  }
  .blog-content ul li {
    @apply pl-2 pb-4;
  }
  .blog-content ul li ul {
    @apply list-[circle] pl-8;
  }
  .blog-content ul li ul li {
    @apply pl-1 pb-1;
  }
  .blog-content h1 + p {
    @apply text-timeline-light dark:text-timeline-dark;
  }
  .gallery-content img {
    @apply w-1/2 h-1/2;
  }
  .gallery-content p:has(img) {
    @apply flex justify-center items-center;
  }
}
