<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Too many ideas! | Afsheen's Blog</title>
    <script src="https://unpkg.com/phosphor-icons"></script>
    <link rel="stylesheet" href="/assets/css/main.out.css">
</head>
<body class="font-sans text-gray-800 bg-white">
    <div class="md:flex min-h-screen">
       {% include 'sidebar' %}
        
        <main class="flex-1 flex md:gap-3 gap-2 md:p-8 p-5 md:pt-22 pt-10 md:space-y-9 space-y-6 max-w-3xl pb-20 md:pb-8">
            <a href="/blog" class="text-primary-text-light hover:text-gray-900 md:mt-2 mt-1.5">
                <i class="ph-caret-left md:text-2xl text-xl"></i>
            </a>
            <div class="md:text-base text-sm text-primary-text-light leading-relaxed space-y-4">
                <h1 class="md:text-3xl text-xl font-serif">Too many ideas!</h1>
                <p>
                    I often find myself submerged in soo many ideas and more often then not, I forget to go back to the fundamental questions like: is there a simpler way to do this? What is the communication I am trying to get through? What's the simplest way to achieve it? 
                </p>
                
                <p>
                     For e.g. for my personal website, I started with the initial idea of going all out and making it like a code editor until I started finding flaws in the designs of code editors! Next idea: 90s UI, just to realise they're in the past for a reason! While I would love to build something with that UI to give a retro feel, it just didn't make sense to build my entire website like that! 
                </p>
                
                <p>
                    Onto the next idea: simple UI, multiple skills to showcase, I'll make cards of all the skills that are clickable which will filter from the array of information I give and show experience relevant to that skill. for e.g. code, design, sales, marketing - you choose the card, it'll filter my previous experience and show those points relevant to the cards. Such a fucking overkill! 
                </p>
                
                <p>
                    Finally, I ended up making a simple UI with a sidebar and just information on the right. But the drifting problem doesn't end here. How to showcase experience where you've explored sooo many things and still keep emphasis on your core skill? Again ideas like cards, cards with images in a grid that'll open on modal. But that completely ruins the purpose of getting information right at glance! And more such ideas came up but I think this is sufficient for now, let's see where the future takes us.
                </p>
            </div>
        </main>
        
        <div class="block md:hidden">{% include 'footer' %}</div>
    </div>
</body>
</html>